/* apply a natural box layout model to all elements, but allowing components to change 

http://www.paulirish.com/2012/box-sizing-border-box-ftw/

*/
:root {
  --grid-width: 25%;
  --color-primary: #1e2e63;
  --color-secondary: #c0392b;
  --color-accent: #990000;
  --wide: 75%;
  --narrow: 25%;
  --font-size: 18px;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*Base CSS*/
body{font-family: 'Droid Serif';background:#374E5A; overflow: auto;}

h1 {
  color: var(--color-primary);
}

.col {
  width:46%;
  margin:1%;
  background:#5a7b6c;
  border-radius:6px;
  padding: 2em;
  float:left;
}

.col:nth-child(odd){
  background:#8fb87f;
}

.col p{
  color:#fff;
  text-shadow: 1px 1px #000;
}

.fancy{display:none;}

/* Max-Width Query*/

@media screen and (max-width:600px){
  h1 {
    color:#ffffff;
    text-shadow: 1px 1px #c0c0c0;
    background:#000000;
  }
}

/*#js {
  button{
    background: var(--color-accent);
    border: none;
    color: var(--blue);
    padding: 1em;
    margin: 1em 0;
    box-shadow: 2px 3px 0 0 var(--color-secondary);
    transition: opacity;
    &:hover {
      opacity: .9;
      }

p {
  color: var(--color-primary);
  line-height: 1.5;
}*/
